#centeredTopImg {
    top: 10%;
    width: 20vh; //40vh
    position: relative;
   // text-align: center;
  //  display: block;
    
    margin-left:auto;
    margin-right:auto;
}

.centeredContent {
    position:relative;

    text-align: center;
    display: block;
    
    margin-left:auto;
    margin-right:auto;
}